{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="py-5 team4">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-md-7 text-center">
                <h3 class="mb-3">About</h3>
                <h6 class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a porttitor neque. Praesent vulputate, turpis at vulputate convallis, enim arcu ornare orci, ac ullamcorper libero nunc non quam. Sed efficitur porttitor tortor, ut pellentesque est tincidunt in. Ut tempor ante ac dignissim aliquet. Quisque congue leo eget interdum malesuada. Nulla ac turpis cursus, egestas orci sollicitudin, porttitor dui. Curabitur feugiat dictum nibh in vulputate. Quisque quis diam sapien. Sed pretium enim sit amet imperdiet egestas. Suspendisse potenti. Quisque gravida pharetra sem, vel hendrerit magna porta placerat. Aenean vitae mollis nisi.
        
                    Nulla iaculis mi odio, sit amet porttitor nisl placerat in. Proin augue velit, varius sit amet tortor sit amet, aliquam ullamcorper massa. Vestibulum a tempus mauris, non elementum neque. Nullam eget condimentum urna. Nam ac placerat urna. Fusce mattis dui eros, eget mollis nunc sagittis vel. Nunc non ante neque. In mi leo, faucibus nec ornare viverra, mollis et felis. In a venenatis mauris. Aenean aliquam non purus nec tempor. Sed dictum turpis eget sollicitudin sodales. Donec sit amet vestibulum ante, sit amet dictum turpis. Donec accumsan libero quis eleifend dictum.</h6>
                </div>
            </div>
        </div>
    </div>
{% endblock %}