{% extends "layout.html" %}

{% block title %}
    Team
{% endblock %}

{% block main %}
    <div class="py-5 team4">
        <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-md-7 text-center">
            <h3 class="mb-3">Meet The Team</h3>
            <h6 class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac pellentesque diam. Vivamus nunc lectus, consectetur mollis metus eget, dapibus condimentum augue. Praesent id.</h6>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- column  -->
            <div class="col-lg-3 mb-4">
            <!-- Row -->
            <div class="row">
                <div class="col-md-12">
                <img src="../static/1.png" alt="Darren Sarra" class="img-fluid rounded-circle" />
                </div>
                <div class="col-md-12 text-center">
                <div class="pt-2">
                    <h5 class="mt-4 font-weight-medium mb-0">Joe Momma</h5>
                    <h6 class="subtitle mb-3">CEO</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a diam vitae justo aliquam ullamcorper. Quisque ut ligula varius, iaculis.</p>
                </div>
                </div>
            </div>
            <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 mb-4">
            <!-- Row -->
            <div class="row">
                <div class="col-md-12">
                <img src="../static/2.png" alt="Darren Sarra" class="img-fluid rounded-circle" />
                </div>
                <div class="col-md-12 text-center">
                <div class="pt-2">
                    <h5 class="mt-4 font-weight-medium mb-0">Joe Momma</h5>
                    <h6 class="subtitle mb-3">Software Engineer</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a diam vitae justo aliquam ullamcorper. Quisque ut ligula varius, iaculis.</p>
                </div>
                </div>
            </div>
            <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 mb-4">
            <!-- Row -->
            <div class="row">
                <div class="col-md-12">
                <img src="../static/3.png" alt="Darren Sarra" class="img-fluid rounded-circle" />
                </div>
                <div class="col-md-12 text-center">
                <div class="pt-2">
                    <h5 class="mt-4 font-weight-medium mb-0">Joe Momma</h5>
                    <h6 class="subtitle mb-3">Frontend Developer</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a diam vitae justo aliquam ullamcorper. Quisque ut ligula varius, iaculis.</p>
                </div>
                </div>
            </div>
            <!-- Row -->
            </div>
        </div>
        </div>
    </div>
{% endblock %}